.appWrapper {
  height: 100dvh;
  width: 100vw;
  overflow-y: auto;
  background-color: rgb(227, 227, 227);
}
.app {
  width: 100%;
  max-width: 425px;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main {
  flex: 1;
}
