/* ν—¤λ”, ν‘Έν„° */
.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 2;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  max-width: 425px;
  height: 70px;
  background-color: #fbfbfb;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 1000;
}
.btnclick {
  background-color: #eaeaea;
}
.footerBtn {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  color: #8c8c8c;
  cursor: pointer;
  gap:1px;
}

.footerBtn img {
  width: 24px;
  height: 24px;
}
