.textGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  margin-top: 12rem;
}

.kakaoLogin {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.text-4xl {
  color: #421c00;
  line-height: 1.2;
}
