.textGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  margin-top: 6.85rem;
}
.pitstopLogo {
  width: 300px;
  margin-top: auto;
}
.ProjectLogo{
  margin-top: 12rem;
}
.kakaoLogin {
  cursor: pointer;
  padding: 3px 32px;
}
.text-3xl {
  color: #421c00;
  line-height: 1.2;
}
.btn-lg {
  background-color: #d6664d;
  color: white;
}
.text-base {
  color: white;
}
