.text-sm {
  font-size: 13px;
} /* 씀 */

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-2xl {
  font-size: 24px;
}

.text-3xl {
  font-size: 28px;
}

.text-4xl {
  font-size: 32px;
} /* 씀 */
.text-bold {
  font-weight: bold;
} /* 씀 */

.text-gray {
  color: #cbbcbc;
} /* 씀 */
